#tasklist {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#taskListTitle {
    margin-top: 1rem;
    color: black;
}

.task {
    width: 45rem;
    display: grid;
    grid-template-columns: 0.2fr repeat(4, 1.2fr) 0.2fr;
    align-items: center;
    column-gap: 0.4rem;
    font-size: 1.3rem;
    justify-items: center;
    color: black;
    margin-bottom: 0.5rem;
}

.legendTask {
    font-size: 1.5rem;
    margin-top: 1rem;
    background: none;
    color: black;
}

.topName {
    grid-column: 2;
}

.topDesc {
    grid-column: 3;
}

.topDdl {
    grid-column: 4;
}

.topPrio {
    grid-column: 5;
}

.topName, .topDesc {
    justify-self: start;
}

.chk {
    justify-self: end;
    cursor: pointer;
}

.name, .desc {
    justify-self: start;
}

.disabled {
    pointer-events: none;
}

#del {
    cursor: pointer;
}

#taskListTitle {
    font-size: 3rem;
    /* color: white; */
}

#name {
    grid-column: 2;
    width: 8rem;
    justify-self: start;
}

#desc {
    grid-column: 3;
    width: 8rem;
    justify-self: start;
}

#ddl {
    grid-column: 4;
    width: 8rem;
    height: 1rem;
}

#prio {
    grid-column: 5;
}

#addTask {
    margin-top: 1rem;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

#close {
    align-self: flex-end;
}

.notUrgent {
    background: lightgreen;
}

.urgent {
    background: rgb(173, 173, 0);
}

.critical {
    background: red;
}

.crossed {
    background: darkgrey;
    color: black;
    /* text-decoration: line-through; */
}

.checked {
    background: url("../../../dist/assets/icons/checkbox-marked.svg");
}